
preferences14.0.nk
*.pyc
uistate.ini
FileChooser_Favorites.pref
preferences12.2.nk
recent_files
Scripts/tab_stats.dat
KS3/py_state.txt
*.autosave
ScriptEditorHistory.xml
Cattery/*
*.json
Scripts/pbPreferences.py
